:root {
  --primary-100: #1C2CF6;
  --primary-50: #5D69F8;
  --primary-20: #9FA6FB;
  --secondary: #FC7622;
  --terciary: #A7FC22; 
}

body {
  background: linear-gradient(90deg , var(--primary-100), var(--primary-50), var(--primary-20));
}

#login-form, #new-user-form {
  max-width: 25em;
  background-color: #0599ee;
}

#login-form button, #new-user-form button {
  background-color: #174bda;
}

#alert-message {
  top: 5%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.search {
  width: 100%;
  max-width: 40em;
}

.data {
  width: 100%;
  max-width: 50em;
}

@media screen and (min-width: 768px) {
  .search {
    max-width: 52em;
  }

  #search-form .input-group {
    flex-basis: 20em;
  }

  #search-form .btn {
    width: fit-content;
  }
}
